{% extends 'base.html.twig' %}

{% block title %}PurchaseNft index{% endblock %}

{% block body %}
    <h1>PurchaseNft index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Purchase_date</th>
                <th>Nft_eth_price</th>
                <th>Nft_eur_price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for purchase_nft in purchase_nfts %}
            <tr>
                <td>{{ purchase_nft.id }}</td>
                <td>{{ purchase_nft.purchaseDate ? purchase_nft.purchaseDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ purchase_nft.nftEthPrice }}</td>
                <td>{{ purchase_nft.nftEurPrice }}</td>
                <td>
                    <a href="{{ path('app_purchase_nft_show', {'id': purchase_nft.id}) }}">show</a>
                    <a href="{{ path('app_purchase_nft_edit', {'id': purchase_nft.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_purchase_nft_new') }}">Create new</a>
{% endblock %}
