{% extends 'base.html.twig' %}

{% block title %}PurchaseNft{% endblock %}

{% block body %}
    <h1>PurchaseNft</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ purchase_nft.id }}</td>
            </tr>
            <tr>
                <th>Purchase_date</th>
                <td>{{ purchase_nft.purchaseDate ? purchase_nft.purchaseDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nft_eth_price</th>
                <td>{{ purchase_nft.nftEthPrice }}</td>
            </tr>
            <tr>
                <th>Nft_eur_price</th>
                <td>{{ purchase_nft.nftEurPrice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_purchase_nft_index') }}">back to list</a>

    <a href="{{ path('app_purchase_nft_edit', {'id': purchase_nft.id}) }}">edit</a>

    {{ include('purchase_nft/_delete_form.html.twig') }}
{% endblock %}
