{% extends 'base.html.twig' %}

{% block title %}Nft index{% endblock %}

{% block body %}
    <h1>Nft index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Img</th>
                <th>Stock</th>
                <th>Description</th>
                <th>Launch_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nft in nfts %}
            <tr>
                <td>{{ nft.id }}</td>
                <td>{{ nft.name }}</td>
                <td>{{ nft.img }}</td>
                <td>{{ nft.stock }}</td>
                <td>{{ nft.description }}</td>
                <td>{{ nft.launchDate ? nft.launchDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_nft_show', {'id': nft.id}) }}">show</a>
                    <a href="{{ path('app_nft_edit', {'id': nft.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nft_new') }}">Create new</a>
{% endblock %}
